body {
    background-color: white;
    margin: 0;
    padding: 0;
}
.bg-color {
    background-color: #033047;
}
.activate {
    background-color: #847cc9;
}
.table-wrapper {
    display: block;
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}
.table-wrapper2 {
    display: block;
    max-height: 350px; /* Adjust the height as needed */
    overflow-y: auto;
}
.table thead,
.table tfoot {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

.select {
    width: 200px;        /* Set the width of the select box */
    height: 150px;       /* Set the height of the select box */
    overflow-y: auto;    /* Enable vertical scrolling */
}